<launch>
	% Launch simulator
 	<node pkg="emc_simulator" type="pico_simulator" name="pico_simulator" args="$(find ed_tutorial7sim)/config/shape/heightmap.pgm ">
	</node>

	% Launch tf broadcaster for pico robot
	<node pkg="ed_tutorial7sim" type="tf_broadcaster_edtut7" name="tf_broadcaster_edtut7">
	</node>

	% Launch ED
	<node pkg="ed" type="ed" name="ed" args="$(find ed_tutorial7sim)/config/model-test-nav.yaml">
	</node>

	% Launch ED GUI server
	<node pkg="ed_gui_server" type="ed_rviz_publisher" name="ed_rviz_publisher">
	</node>

	% Launch navigation
	<include file="$(find ed_tutorial7sim)/launch/move_base.launch" />

	% Launch RVIZ
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ed_tutorial7sim)/config/rviz-config-edtut7.rviz">
	</node>
</launch>
