<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
	% Launch ED
	<node pkg="ed" type="ed" name="ed" args="$(find ropod_demo_dec_2017)/config/model-malaga-test-nav.yaml">
	</node>

	
	% Launch route navigation
	<node pkg="ropod_demo_dec_2017" type="demo_navigation" name="demo_navigation">
	</node>	

	% Launch ED GUI server
	<node pkg="ed_gui_server" type="ed_rviz_publisher" name="ed_rviz_publisher">
	</node>
	

	% Launch navigation
	<include file="$(find ropod_demo_dec_2017)/launch/move_base.launch" />
	
</launch>
