<?xml version="1.0" encoding="UTF-8"?>
<launch>
        <arg name="DEBUG" default="false"/>  
	
	
	% Launch ED
	<group if="$(arg DEBUG)">
		<node pkg="ed" type="ed" name="ed" args="$(find ropod_demo_dec_2017)/config/model-test-nav.yaml" launch-prefix="xterm -e gdb --args"/>
	</group>
	
	<group unless="$(arg DEBUG)">
	  <node pkg="ed" type="ed" name="ed" args="$(find ropod_demo_dec_2017)/config/model-test-nav.yaml" />
	</group>

	% Launch ED GUI server
	<node pkg="ed_gui_server" type="ed_rviz_publisher" name="ed_rviz_publisher">
	</node>
	
	% Launch navigation
	<include file="$(find ropod_demo_dec_2017)/launch/move_base.launch" />
	

    % Launch route navigation
	<node pkg="ropod_demo_dec_2017" type="demo_navigation" name="demo_navigation">
	</node>		

	
</launch>
