<div class="container-fluid" ontouchmove="alert('a');" >
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 main">
      <ng-webgl on-entity-selection="entitySelection({entity: entity, event: event})" />
    </div>
    <div ng-controller="CircularmenuCtrl">
      <circular id="action-menu"
        options="options">
      </circular>
    </div>

    <div id="sidebar" class="col-xs-3 col-sm-3 col-md-3 sidebar" ng-controller="SidebarCtrl">
      <div class="panel panel-default" id="kinect-view">
        <div class="panel-body">
          <img src="{{kinect_image}}" alt="..." style="width: 100%">
        </div>
      </div>
      <div class="panel panel-default" id="action-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Action panel</h3>
        </div>
        <div class="panel-body">
          
        </div>
      </div>
    </div>
  </div>
</div>
