<?xml version="1.0"?>
<robot name="Floorplan_demo_ROPOD">


<link name="map">
	<inertial>
		<mass value="500"/>
		<inertia
			ixx="1000.0" ixy="0.0" ixz="0.0"
			iyy="1000.0" iyz="0.0"
			izz="1000.0"/>
	</inertial>	  
	
	<visual name="map_visual">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<geometry>
			<mesh 
				filename="package://ed_object_models/models/malaga_test/walls/shape/malaga_test_map.stl"
				scale="0.001 0.001 0.002"		
			/>
		</geometry>
	</visual>
	
	<collision name="map_collision">	
		<origin rpy="0 0 0" xyz="0 0 0"/>	
		<geometry>
			<mesh 
				filename="package://ed_object_models/models/malaga_test/walls/shape/malaga_test_map.stl"
				scale="0.001 0.001 0.002"		
			/>
		</geometry>
	</collision>   

</link>  

<gazebo reference="map">
	<maxContacts>10</maxContacts>
	<laserRetro>0</laserRetro>
	<dampingFactor>0.01</dampingFactor>
	<selfCollide>false</selfCollide>
</gazebo>

</robot>
